.menu {
    min-width: 25%;
}

.menu .perfil {
    background-color: var(--secondary-bg-color);
    color: var(--main-text-color);
    width: 80%;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 16px;
    display: grid;
    grid-template-areas:
    "photo photo"
    "name name"
    "plan plan";
    align-items: center;
    justify-content: center;

}

@media screen and (min-width: 992px) {
    .menu .perfil {
    grid-template-areas:
    "photo name"
    "photo plan"; 
    }
}

.menu .perfil .perfil__photo {
    grid-area: photo;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.menu .perfil .perfil__name {
    grid-area: name;
    padding-left: 0.75rem;
    font-size: 1rem;
    font-weight: bold;
}

.menu .perfil .perfil__plan {
    grid-area: plan;
    padding-left: 0.75rem;
    font-size: 0.875rem;
}

.menu .perfil__plan--type {
    color: var(--secondary-text-color);
}

.menu .list {
    width: 80%;
    margin: 0 auto;
    color: var(--main-text-color);
}

.menu .list .list__title {
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px 0;
}

.menu .list .list__item {
    display: flex;
    align-items: center;
    padding: 0 0 12px 13px;
    column-gap: 8px;
    line-height: 28px;
    font-size: 1rem;
    cursor: pointer;
}

.menu .list .list__item:hover {
    font-style: italic;
}


