.content_cards {
    width: 75%;
    min-width: 230px;
}

.cards {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 1rem;
}

.cards .cards__item {
    background: #FFFFFF;
    border-radius: 12px;
    padding: 10px;
    transition: all 0.3s;
}

.cards .cards__item:hover {
   transform: scale(1.1);
}


.cards .cards__item p {
    font-family: 'Oxanium', cursive;
    font-size: 1rem;
    line-height: 24px;
}

.cards .cards__item--bold {
    font-weight: bold;
}

.cards .cards__item a {
    background-color: var(--color--btn);
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    border-radius: 16px;
    padding: 5px;
    margin-top: 12px;
}

.cards .cards__item a span {
   font-size: 1rem;
}

